<div
        {% if row.cssId != '' %} id="{{ row.cssId }}"{% endif %}
        {% if row.cssClass != '' %} class="{{ row.cssClass }}"{% endif %}
>
    {% for col in row.columns %}
        {% include '@Kisphp/Cms/column-render.html.twig' %}
    {% endfor %}
</div>