{% if col.attrClass != 'skip' %}<div class="{{ col.attrClass | default('') }}">{% endif %}
    {% for widget in col.widgets %}
        {{ layout.content[widget.id] | raw }}
    {% endfor %}
{% if col.attrClass != 'skip' %}</div>{% endif %}
