{% if layout.status != 2 %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-warning alert-dismissible mt-10" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> This layout is not active
                </div>
            </div>
        </div>
    </div>
{% endif %}
