{% extends '@Kisphp/layout.html.twig' %}

{% import _self as write %}

{% set page_title = layout.seoTitle | default('') %}
{% set seo_keywords = layout.seoKeywords | default('') %}
{% set seo_description = layout.seoDescription | default('') %}

{% block body %}
    {% if layout is defined and layout is not empty %}
        {% include '@Kisphp/Cms/inactive-layout.html.twig' %}

        {% if layout.rows is defined and layout.rows | length > 0 %}
            {% for row in layout.rows %}
                {% include '@Kisphp/Cms/row-render.html.twig' %}
            {% endfor %}
        {% else %}
            {% include '@Kisphp/Cms/no-content.html.twig' %}
        {% endif %}
    {% else %}
        {% include '@Kisphp/Cms/no-layout.html.twig' %}
    {% endif %}
{% endblock %}
