<div class="container pt-20">
    <div class="alert alert-warning alert-dismissible mt-10" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> This layout does not exists
    </div>
</div>
